
html, body {
    height: 100%;
    color: #e8dede;
    background: url('../images/background_main2.png') no-repeat 0 85% fixed;
}

.wrapper {
    height: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.page {
    min-height: 100%;
    padding-bottom: 70px;
    box-sizing: border-box;
}

a {
display:inline-block;
}

.logo {
    width:1800px;
    height:100px;
    background:#1b6d85 url('../images/logo.png') no-repeat center;
    background-size: cover;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.panel {
    padding-top: 2px;
    padding-left: 2px;
    width: 100%;
    font-size: 18px;
}

ul.mainmenu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
    color: #fdc073;
    font-size: 20px;
    overflow: hidden;
}

ul.mainmenu li {
    float: left;
    margin: 18px 40px 0 30px;
}

ul.mainmenu li.logo {
    margin: 0;
}

ul.mainmenu li.last {
    float: right;
}

ul.mainmenu li a {
    color: #fdc073;
    text-decoration: none;
}

ul.mainmenu li a:hover {
    color: #FDA83D;
}

/*.ul.panel {*/
/*	list-style: none;*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	height: 60px;*/
/*	color: #fdc073;*/
/*	font-size: 200px;*/
/*	overflow: hidden;*/
/*}*/

/*.ul {*/
/*	float: left;*/
/*	margin: 18px 40px 0 30px;*/
/*}*/

/*ul.panel li.last {float: right;}*/

/*.panel.ul li a {*/
/*	color: #fdc073;*/
/*	text-decoration: none;*/
/*}*/

/*ul.mainmenu li a:hover {*/
/*	color: #FDA83D;*/
/*}*/

.content-text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.login {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.register {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.generate_image {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    height: 70px;
    margin-top: -70px;
    box-sizing: border-box;
    background: rgba(51, 51, 51);
    padding: 5px;
    color: #e1e1e8;
    font-size: 20px;
    text-align: center;
}

input.text {
    width:  400px;
    height: 100px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;

}