
html, body {
    height: 100%;
    color: #e8dede;
    background: url('../images/background_main2.png') no-repeat 0 85% fixed;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
}

.page {
    min-height: 100%;
    padding-bottom: 70px;
    box-sizing: border-box;
}


.logo {
    height:100px;
    background:#1b6d85 url('../images/logo.png') no-repeat center;
    background-size: cover;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.panel {
    padding-top: 0px;
    padding-left: 2px;
    width: 100%;
    height: 80px;
    font-size: 18px;
    background: cornflowerblue;
    text-align: right;
    vertical-align: center;
    text-decoration: none;
    color: #e1e1e8;
}

.panel a {
    padding-right: 10px;
    text-decoration: none;
    color: #e1e1e8;
    vertical-align: middle;
    font-size: 20px;
    vert-align: middle;
}

/*.a.panel:hover {*/
/*    text-decoration: none;*/
/*}*/

.content-text {
    max-width: 1100px;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.login {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.register {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.generate_image {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    height: 70px;
    margin-top: -70px;
    box-sizing: border-box;
    background: #23282e;
    padding: 5px;
    color: #e1e1e8;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

