{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'galery/css/styles.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'galery/images/paint.png' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
    <p style="text-align: center;"><img src="{% static 'galery/images/magiclogo.jpg' %}" width="3056" alt="Logo"></p>

</header>
<body>
{% block mainmenu %}
    <div>
        <p align="center">Создай изображение по своему описанию</p>
    </div>
    <div class="header">
        <ul id="mainmenu" class="mainmenu">


            {% if not user.is_authenticated %}
                <li class="last"><a href="{% url 'register' %}">Регистрация</a></li>
                <li class="last"><a href="{% url 'login' %}">Войти</a></li>
            {% else %}
                <li class="last"> {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
            {% endif %}
            <li class="last"><a href="{% url 'generate_image' %}">Создать изображение</a></li>
        </ul>
        <div class="clear"></div>
    </div>
{% endblock mainmenu %}

<!-- Блок контента -->
<div class="content-text">
    {% block content %}
    {% endblock %}


    <!-- Footer -->
    <tr>
        <td valign=top>
            <div id="footer">
                <p>«Я думаю, что каждый из нас когда-нибудь в жизни хотел нарисовать картину» - Боб Росс</p>
            </div>
        </td>
    </tr>
    <!-- Конец footer'а и страницы -->

</body>
</html>
