{% extends 'galery/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{#<title>{% block title %} All pictures {% endblock %}</title>#}


{% block content %}
    <!-- Carousel wrapper -->
    <div
            id="carouselMultiItemExample"
            class="carousel slide carousel-dark text-center"
            data-bs-ride="carousel"

    >

    <div class="d-flex justify-content-center mb-4">
        <button
                class="carousel-control-prev position-relative"
                type="button"
                data-bs-target="#carouselMultiItemExample"
                data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
                class="carousel-control-next position-relative"
                type="button"
                data-bs-target="#carouselMultiItemExample"
                data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <img
                                    src="{% static 'galery/images/girl_butterfly.jpg' %}"
                                    class="card-img-top"
                                    alt="Girl butterfly"
                                    width="100"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    Красивая девочка-бабочка, выразительные голубые глаза
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img
                                    src={% static 'galery/images/freemasons_cats.jpg' %}
                                            class="card-img-top"
                                    alt="Freemasons cats"
                                    width="300"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    Орден котов масонов, гравюра XVI века
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img
                                    src={% static 'galery/images/apples_on_a_birch.jpg' %}
                                            class="card-img-top"
                                    alt="Apples on a birch"
                                    width="300"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    Яблоки на березе
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <img
                                    src={% static 'galery/images/pancake_tree.jpg' %}
                                            class="card-img-top"
                                    alt="Pancake tree"
                                    width="300"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    Дерево из оладьев
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img
                                    src={% static 'galery/images/universe_in_a_glass.jpg' %}
                                            class="card-img-top"
                                    alt="Universe in a glass"
                                    width="300"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    Жидкая вселенная в бокале, реалистично, абстракционизм
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img
                                    src={% static 'galery/images/railway_station.jpg' %}
                                            class="card-img-top"
                                    alt="Railway station"
                                    width="300"
                            />
                            <div class="card-body">

                                <p class="card-text">
                                    Железнодорожная станция, уходящий поезд, луна, лес
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <img
                                    src={% static 'galery/images/Cat_with_soup.jpg' %}
                                            class="card-img-top"
                                    alt="Cat and soup"
                                    width="300"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    Суп с котом
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img
                                    src={% static 'galery/images/world_in_a_cup_of_coffe.jpg' %}
                                            class="card-img-top"
                                    alt="World in a cup of coffe"
                                    width="300"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    Маленький, красивый многообразный мир в кофейной чашке
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img
                                    src={% static 'galery/images/blooming_poppies_river_church.jpg' %}
                                            class="card-img-top"
                                    alt="Blooming poppies"
                                    width="300"
                            />
                            <div class="card-body">

                                <p class="card-text">
                                    Цветущие маки и ромашки, речка, церковь
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inner -->
    </div>
    <!-- Carousel wrapper -->
{% endblock %}

