{% extends 'galery/base.html' %}
{% load static %}
<title>{% block title %} All pictures {% endblock %}</title>


{#{% block content %}#}
{#    <h2>Примеры картин</h2>#}
{#    <ul>#}
{#        {%  for p in pictures %}#}
{#            <li>#}
{#                <img src="/media/{{ p.img }}" width="100" /> <p>{{ p.prompt }}</p>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endblock %}#}

{% block content %}
    <!-- Carousel wrapper -->
    <div
            id="carouselMultiItemExample"
            class="carousel slide carousel-dark text-center"
            data-mdb-ride="carousel"
    >
        <!-- Controls -->
        <div class="d-flex justify-content-center mb-4">
            <button
                    class="carousel-control-prev position-relative"
                    type="button"
                    data-mdb-target="#carouselMultiItemExample"
                    data-mdb-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                    class="carousel-control-next position-relative"
                    type="button"
                    data-mdb-target="#carouselMultiItemExample"
                    data-mdb-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Inner -->
        <div class="carousel-inner py-4">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <img
                                        src="{% static 'galery/images/girl butterfly.jpg' %}"
                                        class="card-img-top"
                                        alt="Girl butterfly"
                                        width="300"
                                />
                                <div class="card-body">
                                    <p class="card-text">
                                        Красивая девочка-бабочка, выразительные голубые глаза
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img
                                        src={% static 'galery/images/freemasons cats.jpg' %}
                                                class="card-img-top"
                                        alt="Freemasons cats"
                                        width="300"
                                />
                                <div class="card-body">
                                    <p class="card-text">
                                        Орден котов масонов, гравюра XVI века
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img
                                        src={% static 'galery/images/apples on a birch.jpg' %}
                                                class="card-img-top"
                                        alt="Apples on a birch"
                                        width="300"
                                />
                                <div class="card-body">
                                    <p class="card-text">
                                        Яблоки на березе
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="card">
                                <img
                                        src={% static 'galery/images/pancake tree.jpg' %}
                                                class="card-img-top"
                                        alt="Pancake tree"
                                        width="300"
                                />
                                <div class="card-body">
                                    <p class="card-text">
                                        Дерево из оладьев
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img
                                        src={% static 'galery/images/railway station.jpg' %}
                                                class="card-img-top"
                                        alt="Storm Clouds"
                                        width="300"
                                />
                                <div class="card-body">
                                    <p class="card-text">
                                        Железнодорожная станция, перрон, уходящий поезд, луна, лес
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img
                                        src={% static 'galery/images/universe in a glass.jpg' %}
                                                class="card-img-top"
                                        alt="Universe in a glass"
                                        width="300"
                                />
                                <div class="card-body">
                                    <p class="card-text">
                                        Жидкая вселенная в бокале, реалистично, абстракционизм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <div class="card">
                                <img
                                        src={% static 'galery/images/Cat with soup.jpg' %}
                                                class="card-img-top"
                                        alt="Cat and soup"
                                        width="300"
                                />
                                <div class="card-body">
                                    <p class="card-text">
                                        Суп с котом
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                            <div class="card">
                                <img
                                        src={% static 'galery/images/world in a cup of coffe.jpg' %}
                                                class="card-img-top"
                                        alt="World in a cup of coffe"
                                        width="300"
                                />
                                <div class="card-body">

                                    <p class="card-text">
                                        Маленький, красивый многообразный мир в кофейной чашке
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Inner -->
                    </div>
                    <!-- Carousel wrapper -->

{% endblock %}